footer.footer
  .container
    .footer__wrapper
      ul.footer__links
          li
            a(href="#") bases y condiciones
          li
            a(href="#") politicas de privacidad
      .footer__logo
        p.footer__text diseño y desarrollo 
        .footer__image
          img(src="/images/creatos.png")