extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main.listado-ganadores
    .container
      .row
        .col-xs-24.col-md-14.col-md-offset-5
          .listado-ganadores__heading#heading
            .listado-ganadores__image
              img(src="/images/gorra.png")
            .listado-ganadores__wrapper
              h2.listado-ganadores__title ganadores 
                br
                span gorra total
              a.listado-ganadores__button(href="/premios") volver a premios
          .listado-ganadores__container
            .row
              .col-xs-24.col-md-10
                .listado-ganadores__table
                  .listado-ganadores__table-col.listado-ganadores__table-col--left
                    .listado-ganadores__cell
                      h3 cliente
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                  .listado-ganadores__table-col.listado-ganadores__table-col--right
                    .listado-ganadores__cell
                      h3 nombre
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
              .col-xs-24.col-md-10.col-md-offset-4
                .listado-ganadores__table
                  .listado-ganadores__table-col.listado-ganadores__table-col--left
                    .listado-ganadores__cell.listado-ganadores__cell--heading
                      h3 cliente
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                    .listado-ganadores__cell
                      span 999999999
                  .listado-ganadores__table-col.listado-ganadores__table-col--right
                    .listado-ganadores__cell.listado-ganadores__cell--heading
                      h3 nombre
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
                    .listado-ganadores__cell
                      p Juan Jose Gonzalez
            a.listado-ganadores__back-to-top(href="#heading")
              i.material-icons keyboard_arrow_up