.home {
  width: 100%;
  background: url('/images/background.jpg') no-repeat center 80px / cover;
  position: relative;
  padding-top: 80px;
  overflow: hidden;

  @include mq(md) {
    padding-top: 100px;
    background: url('/images/background.jpg') no-repeat center 100px / cover;
  }

  &__triangles {
      background: url("/images/triangles.png") no-repeat -600px center / cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 200vh;

      @include mq(md) {
        background: url("/images/triangles.png") no-repeat center top / cover;
        height: auto;
        width: 100%;
      }
    }

  &__hero {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    min-height: 150vh;
    
    @include mq(md) {
      padding-bottom: 0;
      min-height: 750px;
    }

    &__wrapper {
      position: relative;
      width: 100%;

      @include mq(md) {
        width: 60%;
      }
    }

    &__products {
      padding-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;

      @include mq(md) {
        width: 55%;
      }
    }

    &__banner {
      position: absolute;
      z-index: 5;
      top: 140px;
      width: 120%;
      left: -10%;
      
      @include mq(md) {
        left: 0;
        width: 100%;
        top: 150px;

      }
    }

    &__cta {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background: $white;
      padding: 40px 20px;
      z-index: 10;
      border-radius: 5px;
      box-shadow: 0 0px 30px 30px rgba(0,0,0,.06);
      margin-top: 80px;
      width: 90%;

      @include mq(md) {
        margin-top: 90px;
        width: 50%;

      }
    }

    &__cta-input {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
      border-radius: 5px;
      background: $lightGray;
      border: none;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 500;

      &:focus,
      &:active,
      &:hover {
        outline: none;
      }
    }

    &__cta-button {
      @include trans;

      display: block;
      width: 100%;
      background: $green;
      border: none;
      color: $white;
      padding: 10px 0;
      font-size: 24px;
      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 500;
      letter-spacing: 2px;

      &:focus,
      &:active,
      &:hover {
        outline: none;
        background: $green - #333;
      }    
    }

    &__bottles {
      position: absolute;
      bottom: 100px;
      height: 300px;
      right: -10px;

      @include mq(md) {
        height: 400px;
        bottom: auto;
        top: 20px;
        right: 15%;
      }
    }

    &__city-logo {
      position: absolute;
      width: 200px;
      top: 570px;
      right: 110px;

      @include mq(md) {
        right: 18%;
        width: 400px;
        top: 420px;
      }
    }
  }

  &__como-participar {
    position: relative;
    background: $white;
    z-index: 20;
    padding: 40px 0 0 0;    
  
    @include mq(md) {
      padding: 40px 0 100px  0;
    }

    &__title {
      color: $red;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px;
      font-weight: 900;
      font-size: 40px;
    }

    &__step {
      display: flex;
      margin-bottom: 40px;

      @include mq(md) {
        margin-bottom: 0;
      }
    }

    &__index {
      width: 30px;
      background: url('/images/triangle-icon.png') no-repeat center top / contain;
      margin-right: 10px;
      color: $white;
      font-weight: 500;
      text-align: right;
      padding-right: 7px;
      padding-top: 4px;
      margin-top: 4px;
    }

    &__text {
      width: 80%;
      margin: 0;
      font-weight: 500;
      color: $darkGray;
    }
  }
}
