header.header
  .container
    .header__wrapper
      a.header__logo(href="/")
        
          img(src="/images/total.png")
      nav.header__nav
        ul
          li
            a(herf="#")  Como participar
          li
            a(herf="#")  premios y ganadores
      .header__hamburguer
        span
        span
        span
