header.header
  .container
    .header__wrapper
      a.header__logo(href="/")
        
          img(src="/images/total.png")
      nav.header__nav
        ul
          li
            a(href="#como-participar") Como participar
          li
            a(href="#") premios y ganadores
      .header__hamburguer
        span
        span
        span
